.App {
  text-align: center;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.insta-icon {
  --icon-size: 128px;
  position: sticky;
  align-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  background: radial-gradient(
    circle at 33% 100%,
    #f3d373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 25%;
}
.insta-icon > span {
  width: 12px;
  height: 12px;
  background: #fff;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 35px;
  top: 35px;
}
.insta-icon:after,
.insta-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--icon-size) / 1.5);
  height: calc(var(--icon-size) / 1.5);
  border: calc(var(--icon-size) / 15) solid #fff;
  transform: translate(-50%, -50%);
}
.insta-icon:after {
  width: calc(var(--icon-size) / 3);
  height: calc(var(--icon-size) / 3);
  border-radius: 50%;
}
.insta-icon:before {
  border-radius: 25%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-primary {
  background-color: black !important ;
  border-color: black !important;
  color: white !important;
}
.btn-primary:hover {
  background-color: white !important ;
  border-color: white !important;
  color: black !important;
}
.btngroup {
  position: right !important;
}
.col {
  background-color: black !important;
  align-content: center;
}
div {
  background-color: black;
  color: white;
}
.root {
  background-color: black;
}
.HoverDiv:hover {
  width: "20rem";
  text-align: center;
}
.div-grafici {
  width: 30%;
  height: auto;
}
.div-post {
  width: 30%;
  height: auto;
}
button:disabled {
  cursor: not-allowed;
  color: white !important ;
}
.fadein {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbarStats {
  color: lightgray !important;
}
