.valuesprofile {
  color: #e2dfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 500%;
  text-align: center !important;
}
.textinsights {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #e2dfdf !important;
  text-align: center !important;
}
.h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #e2dfdf !important;
  text-align: center !important;
}

.valuesprofiledark {
  color: #555555;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 150%;
  text-align: center !important;
  font-weight: normal !important ;
}
.textprofiledark {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #555555 !important;
  text-align: center !important;
  font-weight: bold;
}
.textinsightsdark {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #afacac !important;
  text-align: center !important;
  font-weight: bold;
}

.impressiontext {
  font-size: 150% !important;
}

.colorback {
  background-color: #a8a6a6 !important;
  border-color: #555555 !important;
  border-width: 10%;
  border-radius: 10px;
}
.dropdown {
  background-color: #555555;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a8a6a6;
  padding-top: 10px;
}
.followcount {
  background-color: #a8a6a6;
  padding: 1%;
  border-radius: 10px;
  -moz-border-radius: 10px; /* firefox */
  -webkit-border-radius: 10px; /* safari, chrome */
}
@media screen {
  .ombra {
    box-shadow: 5px 5px 9px #555555;
  }
}
.gialloscuro {
  color: #ffb627;
}
.arancioscuro {
  color: #cc5803;
}
.aranciomedio {
  color: #e2711d;
}
.aranciochiaro {
  color: #ff9505;
}
.giallochiaro {
  color: #ffc971;
}
.blu {
  color: #3c91e6;
}
.verde {
  color: #9fd356;
}
.falured {
  color: #721817;
}
.sandybrown {
  color: #fa9f42;
}
.indigodye {
  color: #2b4162;
}
.myrtlegreen {
  color: #3c787e;
}
.chartreuse {
  color: #c7ef00;
}
.cocoabrown {
  color: #d56f3e;
}
.cianofluo {
  color: #00e5e8;
}
.skobeloff {
  color: #007c77;
}
